div.formularios {
    display: flex;
    margin-left: 5px;
}

label.form {
    color: #530a32;
}

input.input {
    border: 1px solid #7a1853;
    border-radius: 5px;
}

.botonFinalizar {
    padding: 0.5rem;
    border: 1px solid #7a1853;
    border-radius: 5px;
    margin-top: 1rem;
    transition: color ease 500ms;
    transition: background-color ease 500ms;
    margin-bottom: 150px;
  }
  
  .botonFinalizar:hover {
    background-color: rgb(77, 2, 47);
    color: #ffffff;
    transition: color ease 1000ms;
    transition: background-color ease 1000ms;
  }
  
  .botonFinalizar:active {
    box-shadow: 0 0.1rem 0.8rem rgb(63, 14, 27);
  }
